.feedback-page {
	.intro-title {
		position: relative;
		top: 100px;
		opacity: 0;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
}

.feedback-section {
	padding: 50px 0 185px;
	background-color: #f8f8f8;

	opacity: 0;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;

	.feedback-wrap {
		max-width: 869px;
		width: 100%;
		margin: 0 auto;
	}
}